<div class="section-heading">
    <h5>Categories</h5>
</div>

<!-- Catagory Widget -->
<ul class="catagory-widgets">
    <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Tamil</span> <span>35</span></a></li>
    <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> English</span> <span>30</span></a></li>
    <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Telugu</span> <span>13</span></a></li>
    <li><a href="#"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i> Malayalam</span> <span>06</span></a></li>
    
</ul>