        <!-- Section Title -->
        <div class="section-heading">
            <h5>Hot Channels</h5>
        </div>

        <!-- Single YouTube Channel -->
        <div class="single-youtube-channel d-flex">
            <div class="youtube-channel-thumbnail">
                <img src="{{"img/bg-img/14.jpg" | relURL }}" alt="">
            </div>
            <div class="youtube-channel-content">
                <a href="single-post.html" class="channel-title">TV Show</a>
                <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
            </div>
        </div>

        <!-- Single YouTube Channel -->
        <div class="single-youtube-channel d-flex">
            <div class="youtube-channel-thumbnail">
                <img src="{{"img/bg-img/15.jpg" | relURL }}" alt="">
            </div>
            <div class="youtube-channel-content">
                <a href="single-post.html" class="channel-title">Game Channel</a>
                <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
            </div>
        </div>

        <!-- Single YouTube Channel -->
        <div class="single-youtube-channel d-flex">
            <div class="youtube-channel-thumbnail">
                <img src="{{"img/bg-img/16.jpg" | relURL }}" alt="">
            </div>
            <div class="youtube-channel-content">
                <a href="single-post.html" class="channel-title">Sport Channel</a>
                <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
            </div>
        </div>

        <!-- Single YouTube Channel -->
        <div class="single-youtube-channel d-flex">
            <div class="youtube-channel-thumbnail">
                <img src="{{"img/bg-img/17.jpg" | relURL }}" alt="">
            </div>
            <div class="youtube-channel-content">
                <a href="single-post.html" class="channel-title">Travel Channel</a>
                <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
            </div>
        </div>

        <!-- Single YouTube Channel -->
        <div class="single-youtube-channel d-flex">
            <div class="youtube-channel-thumbnail">
                <img src="{{"img/bg-img/18.jpg" | relURL }}" alt="">
            </div>
            <div class="youtube-channel-content">
                <a href="single-post.html" class="channel-title">LifeStyle Channel</a>
                <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
            </div>
        </div>
