<div class="most-viewed-videos mb-30">
    <!-- Section Title -->
    <div class="section-heading">
        <h5>Most Viewed Trailers</h5>
    </div>

    <div class="most-viewed-videos-slide owl-carousel">

        <!-- Single Blog Post -->
        <div class="single-blog-post style-4">
            <div class="post-thumbnail">
                <img src="{{"img/bg-img/28.jpg" | relURL }}" alt="">
                <a href="video-post.html" class="video-play"><i class="fa fa-play"></i></a>
                <span class="video-duration">09:27</span>
            </div>
            <div class="post-content">
                <a href="single-post.html" class="post-title">A Guide To Rocky Mountain Vacations</a>
                <div class="post-meta d-flex">
                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 834</a>
                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 234</a>
                </div>
            </div>
        </div>

        <!-- Single Blog Post -->
        <div class="single-blog-post style-4">
            <div class="post-thumbnail">
                <img src="{{"img/bg-img/29.jpg" | relURL }}" alt="">
                <a href="video-post.html" class="video-play"><i class="fa fa-play"></i></a>
                <span class="video-duration">09:27</span>
            </div>
            <div class="post-content">
                <a href="single-post.html" class="post-title">Dentists Are Smiling Over Painless Veneer Alternative</a>
                <div class="post-meta d-flex">
                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 834</a>
                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 234</a>
                </div>
            </div>
        </div>

        <!-- Single Blog Post -->
        <div class="single-blog-post style-4">
            <div class="post-thumbnail">
                <img src="{{"img/bg-img/30.jpg" | relURL }}" alt="">
                <a href="video-post.html" class="video-play"><i class="fa fa-play"></i></a>
                <span class="video-duration">09:27</span>
            </div>
            <div class="post-content">
                <a href="single-post.html" class="post-title">Become A Travel Pro In One Easy Lesson</a>
                <div class="post-meta d-flex">
                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 834</a>
                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 234</a>
                </div>
            </div>
        </div>

        <!-- Single Blog Post -->
        <div class="single-blog-post style-4">
            <div class="post-thumbnail">
        <img src="{{"img/bg-img/28.jpg" | relURL }}" alt="">
                <a href="video-post.html" class="video-play"><i class="fa fa-play"></i></a>
                <span class="video-duration">09:27</span>
            </div>
            <div class="post-content">
                <a href="single-post.html" class="post-title">A Guide To Rocky Mountain Vacations</a>
                <div class="post-meta d-flex">
                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 834</a>
                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 234</a>
                </div>
            </div>
        </div>

        <!-- Single Blog Post -->
        <div class="single-blog-post style-4">
            <div class="post-thumbnail">
                <img src="{{"img/bg-img/29.jpg" | relURL }}" alt="">
                <a href="video-post.html" class="video-play"><i class="fa fa-play"></i></a>
                <span class="video-duration">09:27</span>
            </div>
            <div class="post-content">
                <a href="single-post.html" class="post-title">Dentists Are Smiling Over Painless Veneer Alternative</a>
                <div class="post-meta d-flex">
                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 834</a>
                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 234</a>
                </div>
            </div>
        </div>

        <!-- Single Blog Post -->
        <div class="single-blog-post style-4">
            <div class="post-thumbnail">
                <img src="{{"img/bg-img/30.jpg" | relURL }}" alt="">
                <a href="video-post.html" class="video-play"><i class="fa fa-play"></i></a>
                <span class="video-duration">09:27</span>
            </div>
            <div class="post-content">
                <a href="single-post.html" class="post-title">Become A Travel Pro In One Easy Lesson</a>
                <div class="post-meta d-flex">
                    <a href="#"><i class="fa fa-eye" aria-hidden="true"></i> 1034</a>
                    <a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 834</a>
                    <a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 234</a>
                </div>
            </div>
        </div>

    </div>
</div>
