        <!-- Section Title -->
        <div class="section-heading">
            <h5>Online Streamers</h5>
        </div>

        <!-- Single YouTube Channel -->
        <div class="single-youtube-channel d-flex">
            <div class="youtube-channel-thumbnail">
                <img src="{{"img/bg-img/hotstar.jpeg" | relURL }}" alt="">
            </div>
            <div class="youtube-channel-content">
                <a href="single-post.html" class="channel-title">Disney hotstar</a>
                <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
            </div>
        </div>

        <!-- Single YouTube Channel -->
        <div class="single-youtube-channel d-flex">
            <div class="youtube-channel-thumbnail">
                <img src="{{"img/bg-img/amazon-prime.png" | relURL }}" alt="">
            </div>
            <div class="youtube-channel-content">
                <a href="single-post.html" class="channel-title">Amazon prime</a>
                <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
            </div>
        </div>

        <!-- Single YouTube Channel -->
        <div class="single-youtube-channel d-flex">
            <div class="youtube-channel-thumbnail">
                <img src="{{"img/bg-img/sun_nxt.jpeg" | relURL }}" alt="">
            </div>
            <div class="youtube-channel-content">
                <a href="single-post.html" class="channel-title">Sun Nxt</a>
                <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
            </div>
        </div>

        <!-- Single YouTube Channel -->
        <div class="single-youtube-channel d-flex">
            <div class="youtube-channel-thumbnail">
                <img src="{{"img/bg-img/voot.jpeg" | relURL }}" alt="">
            </div>
            <div class="youtube-channel-content">
                <a href="single-post.html" class="channel-title">Voot</a>
                <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
            </div>
        </div>

        <!-- Single YouTube Channel -->
        <div class="single-youtube-channel d-flex">
            <div class="youtube-channel-thumbnail">
                <img src="{{"img/bg-img/Netflix.png" | relURL }}" alt="">
            </div>
            <div class="youtube-channel-content">
                <a href="single-post.html" class="channel-title">Netflix</a>
                <a href="#" class="btn subscribe-btn"><i class="fa fa-play-circle-o" aria-hidden="true"></i> Subscribe</a>
            </div>
        </div>
