<div class="post-sidebar-area right-sidebar mt-30 mb-30 box-shadow">
    <!-- Sidebar Widget -->
    <div class="single-sidebar-widget p-30">
        <!-- Social Followers Info -->
        {{partial "social_media.html" .}}
    </div>

    <!-- Sidebar Widget -->
    <div class="single-sidebar-widget p-30">
        <!-- Section Title -->
       {{ partial "catagories.html" .}}
    </div>

    <!-- Sidebar Widget -->
    <div class="single-sidebar-widget">
        <a href="#" class="add-img"><img src="{{"img/bg-img/add2.png" | relURL }}" alt=""></a>
    </div>

    <!-- Sidebar Widget -->
    <div class="single-sidebar-widget p-30">
    {{partial "online_streamers.html" . }}
    </div>

    <!-- Sidebar Widget -->
    <!-- <div class="single-sidebar-widget p-30"> -->
        <!-- Section Title -->
        <!-- {{partial "news_letter.html" .}} -->

    </div>
</div>