<div class="trending-now-posts mb-30">
    <!-- Section Title -->
    <div class="section-heading">
        <h5>TRENDING NOW</h5>
    </div>

    <div class="trending-post-slides owl-carousel">
        <!-- Single Trending Post -->
        <div class="single-trending-post">
            <img src="{{"img/bg-img/ala_vaikunthapurramulo.jpeg" | relURL }}" alt="">
            <div class="post-content">
                <a href="#" class="post-cata">Action</a>
                <a href="video-post.html" class="post-title">A well paked entertaining movie</a>
            </div>
        </div>

        <!-- Single Trending Post -->
        <div class="single-trending-post">
            <img src="{{"img/bg-img/20.jpg" | relURL }}" alt="">
            <div class="post-content">
                <a href="#" class="post-cata">TV Show</a>
                <a href="video-post.html" class="post-title">A Guide To Rocky Mountain Vacations</a>
            </div>
        </div>

        <!-- Single Trending Post -->
        <div class="single-trending-post">
            <img src="{{"img/bg-img/penguin1.jpeg" | relURL }}" alt="">
            <div class="post-content">
                <a href="#" class="post-cata">Thriller</a>
                <a href="video-post.html" class="post-title">Penguin movie review: The Keerthy Suresh-starrer is quite ludicrous. </a>
            </div>
        </div>

        <!-- Single Trending Post -->
        <div class="single-trending-post">
            <img src="{{"img/bg-img/invisible_man.jpeg" | relURL }}" alt="">
            <div class="post-content">
                <a href="#" class="post-cata">Horror</a>
                <a href="video-post.html" class="post-title">Psychological horror-thriller</a>
            </div>
        </div>

        <!-- Single Trending Post -->
        <div class="single-trending-post">
            <img src="{{"img/bg-img/thappad.jpeg" | relURL }}" alt="">
            <div class="post-content">
                <a href="#" class="post-cata">Drama</a>
                <a href="video-post.html" class="post-title">An impactful social drama</a>
            </div>
        </div>

        <!-- Single Trending Post -->
        <div class="single-trending-post">
            <img src="{{"img/bg-img/21.jpg" | relURL }}" alt="">
            <div class="post-content">
                <a href="#" class="post-cata">Sports</a>
                <a href="video-post.html" class="post-title">The Health Benefits Of Sunglasses</a>
            </div>
        </div>
    </div>
</div>
